/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './vars';
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');


body{
    background-color: #edeef2;
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 10px;
    border: 1px solid rgb(85, 85, 85);
    transition: background-color 0.5s ease, color 0.4s ease, border-color 0.5s ease;
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* text color */
.text-primary{
    color: var(--pink)!important;
}


.form-control:focus {
    border-color: var(--pink); /* Your desired color */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5); /* Your desired shadow */
}